<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <div class="error">
        <h1>404</h1>
        <h2>Page not found!</h2>
    </div>
  </body>
</html>
