<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>    
    <main>
      <div class="container">
  <form action="/log-in" method="POST" class="auth-form">
    <legend>Log in</legend>
    <fieldset>
      <label for="username">Username</label>
      <input class="username" name="username" placeholder="username" type="text" />
    </fieldset>
    <fieldset>
      <label for="password" placeholder="password">Password</label>
      <input name="password" type="password" />
    </fieldset>    
    <button>Login</button>
    <div className="anotation">
      <h2>Demo account: </h2>       
      <p>username: <span>tester</span></p>
      <p>password: <span>12345678v</span></p>
    </div>
  </form>
      </div>
    </main>
  </body>
</html>